body{
    background-color: red;
}


div{
    border-style: solid;
    border-width: 10px;
     padding:30px;
}


.container{
    border-color: green;
}


.row{
    border-color: blue;
}


.col-xs-10{
    border-color: orange;
}


.col-xs-2{
    border-color: orange;
}
